{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>{{producto.Nombre}}</h1>
            {{error}}
            <form method="POST">    
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-warning">
                    Editar
                </button>
            </form>
            <div class="mt-1">
                <form action="{% url "eliminarProducto" producto.id %}" method="POST">    
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}